<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shirakami Land's Birthday Messages!</title>
    <meta name="description" content="The English Su-Corn's wishes to Shirakami Fubuki!">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="og:title" content="Shirakami Land's Birthday Messages!" />
    <meta name="og:description" content="The English Su-Corn's wishes to Shirakami Fubuki!" />
    <meta name="og:image" content="https://raywarthog.github.io/fubuki-birthday/dist/img/preview.png">

    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="icons/site.webmanifest">
    <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
        integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
        crossorigin="anonymous" /> --}}
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/shift-away.css" />

    <link rel="stylesheet" href="dist/index.css">
</head>

<body>
    <div id="content">
        <div id="main-img-container">
            <div id="fbk-img"></div>

            <img src="dist/img/templateoruyanke.png" alt="or2" id="or2" class="oruyanke"
                style="top:-9%;left:13%;width:14%;transform:scaleY(-1) scaleX(-1) rotate(-17deg)">
            <img src="dist/img/templateoruyanke.png" alt="or1" id="or1" class="oruyanke"
                style="top: 26.4989%; left: 10.9939%; transform: scaleX(-1) rotate(20deg); width: 8%;">
            <img src="dist/img/oruyankestickie.png" alt="or33" id="or33" class="oruyanke oru-custom"
                style="left:57.1691%;top:49.3406%">
            <img src="dist/img/oruyankepuppet.png" alt="or42" id="or42" class="oruyanke oru-custom"
                style="left:29.7794%;top:50.6528%">
            <img src="dist/img/oruyankesenri.png" alt="or8" id="or8" class="oruyanke oru-custom"
                style="left:61.6728%;top:51.2552%">
            <img src="dist/img/oruyankecodeine.png" alt="or22" id="or22" class="oruyanke oru-custom"
                style="left:31.6636%;top:80.6539%">
            <img src="dist/img/oruyankeauro.png" alt="or43" id="or43" class="oruyanke oru-custom"
                style="left:25.2298%;top:83.9396%;transform:scaleX(-1)">
            <img src="dist/img/templateoruyanke.png" alt="or9" id="or9" class="oruyanke"
                style="left:-6.25%;top:39.5193%;transform:scaleX(-1) rotate(35deg)">
            <img src="dist/img/templateoruyanke.png" alt="or5" id="or5" class="oruyanke"
                style="left:16.0386%;top:62.9246%;transform:scaleX(-1)">
            <img src="dist/img/templateoruyanke.png" alt="or7" id="or7" class="oruyanke" style="left:7.12316%;top:65.2268%">
            <img src="dist/img/templateoruyanke.png" alt="or19" id="or19" class="oruyanke" style="left:12.454%;top:70.0613%">
            <img src="dist/img/templateoruyanke.png" alt="or6" id="or6" class="oruyanke" style="left:73.3456%;top:61.0049%">
            <img src="dist/img/templateoruyanke.png" alt="or13" id="or13" class="oruyanke"
                style="left:70.4504%;top:66.9138%">
            <img src="dist/img/templateoruyanke.png" alt="or11" id="or11" class="oruyanke" style="left:91.682%;top:66.0696%">
            <img src="dist/img/templateoruyanke.png" alt="or10" id="or10" class="oruyanke"
                style="left:96.6452%;top:73.0503%">
            <img src="dist/img/templateoruyanke.png" alt="or16" id="or16" class="oruyanke"
                style="left:72.2426%;top:1.76372%">
            <img src="dist/img/templateoruyanke.png" alt="or12" id="or12" class="oruyanke"
                style="left:77.8952%;top:66.5288%">
            <img src="dist/img/oruyankeryuu.png" alt="or41" id="or41" class="oruyanke oru-custom"
                style="left:46.322%;top:52.4856%;width:7%">
            <img src="dist/img/templateoruyanke.png" alt="or15" id="or15" class="oruyanke"
                style="left:64.596%;top:24.5694%;transform:rotate(51deg);width:13.5%">
            <img src="dist/img/templateoruyanke.png" alt="or3" id="or3" class="oruyanke"
                style="left:76.8732%;top:42.4132%;transform:rotate(30deg)">
            <img src="dist/img/templateoruyanke.png" alt="or20" id="or20" class="oruyanke"
                style="left:.0613546%;top:66.3892%;transform:scaleX(-1)">
            <img src="dist/img/templateoruyanke.png" alt="or35" id="or35" class="oruyanke"
                style="left:2.99997%;top:74.1777%">
            <img src="dist/img/templateoruyanke.png" alt="or14" id="or14" class="oruyanke"
                style="left:-4.96324%;top:69.9833%;transform:scaleX(-1)">
            <img src="dist/img/templateoruyanke.png" alt="or4" id="or4" class="oruyanke" style="left:83.6376%;top:61.5889%">
            <img src="dist/img/templateoruyanke.png" alt="or25" id="or25" class="oruyanke"
                style="left:82.0117%;top:69.2621%;transform:scaleX(-1)">
            <img src="dist/img/templateoruyanke.png" alt="or26" id="or26" class="oruyanke"
                style="left:78.2162%;top:75.6607%">
            <img src="dist/img/templateoruyanke.png" alt="or18" id="or18" class="oruyanke" style="left:88.5242%;top:73.61%">
            <img src="dist/img/oruyankedes.png" alt="or23" id="or23" class="oruyanke oru-custom"
                style="left:27.3047%;top:23.4489%;width:9%">
            <img src="dist/img/templateoruyanke.png" alt="or34" id="or34" class="oruyanke"
                style="left:-5.69957%;top:76.342%;transform:scaleX(-1)">
            <img src="dist/img/templateoruyanke.png" alt="or31" id="or31" class="oruyanke"
                style="left:-8.17164%;top:82.216%;transform:scaleX(-1)">
            <img src="dist/img/templateoruyanke.png" alt="or38" id="or38" class="oruyanke"
                style="left:-.786103%;top:82.6151%;transform:scaleX(-1)">
            <img src="dist/img/templateoruyanke.png" alt="or28" id="or28" class="oruyanke"
                style="left:10.7537%;top:76.5048%">
            <img src="dist/img/templateoruyanke.png" alt="or39" id="or39" class="oruyanke"
                style="left:8.47074%;top:82.6642%">
            <img src="dist/img/oruyankevoid.png" alt="or24" id="or24" class="oruyanke oru-custom"
                style="left:56.803%;top:80.8755%;">
            <img src="dist/img/oruyankeotomeru.png" alt="or21" id="or21" class="oruyanke oru-custom"
                style="left:63.0353%;top:85.9042%">
            <img src="dist/img/templateoruyanke.png" alt="or17" id="or17" class="oruyanke"
                style="left:21.0164%;top:66.6816%">
            <img src="dist/img/templateoruyanke.png" alt="or29" id="or29" class="oruyanke" style="left:18.198%;top:75.8618%">
            <img src="dist/img/templateoruyanke.png" alt="or40" id="or40" class="oruyanke" style="left:14.6726%;top:83.932%">
            <img src="dist/img/templateoruyanke.png" alt="or44" id="or44" class="oruyanke"
                style="left:45.1746%;top:83.9882%;width:8%">
            <img src="dist/img/oruyankesore.png" alt="or45" id="or45" class="oruyanke oru-custom"
                style="left:50.9184%;top:5.28987%;width:6%">
            <img src="dist/img/templateoruyanke.png" alt="or30" id="or30" class="oruyanke"
                style="left: 95.0973%; top: 81.333%;">
            <img src="dist/img/templateoruyanke.png" alt="or36" id="or36" class="oruyanke"
                style="left: 79.9609%; top: 82.589%;">
            <img src="dist/img/templateoruyanke.png" alt="or32" id="or32" class="oruyanke"
                style="left: 87.2381%; top: 82.5723%; transform: scaleX(-1);">
            <img src="dist/img/templateoruyanke.png" alt="or27" id="or27" class="oruyanke"
                style="left: 70.3125%; top: 73.3598%;">
            <img src="dist/img/templateoruyanke.png" alt="or37" id="or37" class="oruyanke"
                style="left: 71.3343%; top: 81.7052%;">
        </div>
    </div>
    </div>

    <div id="edit-controls">
        <button id="add-btn">+</button>
    </div>

    <div id="messages-container">
        {{#each messages}}
        <div class="msg-container" data-target="{{targetid}}">
            <div class="name">{{name}}</div>
            <div class="msg">
                <!-- htmlmin:ignore -->{{msg}}<!-- htmlmin:ignore -->
            </div>
        </div>
        {{/each}}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js" integrity="sha512-53CQcu9ciJDlqhK7UD8dZZ+TF2PFGZrOngEYM/8qucuQba+a+BXOIRsp9PoMNJI3ZeLMVNIxIfZLbG/CdHI5PA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.2.6/tippy-bundle.umd.min.js" integrity="sha512-YzXpZ5qzuFVorXTs8wt0gHSo9+T5qwqM6iWKXQLEWNOEr83116QvCEqH5tsEthpGbrYAcUCXGpNJomYagvlFVw==" crossorigin="anonymous"></script>

    <script src="dist/index.js"></script>

    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
        crossorigin="anonymous"></script>
    <script src="dist/editmode.js"></script> --}}
</body>

</html>