#content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #D7EBFF;
}

#main-img-container {
    position: relative;
    display: inline-block;
    width: 85vw;
    height: calc(85vw * 2635/4400);
    background-image: url("../img/plaintext.png");
    background-size: contain;
}

#main-img-container img {
    position: absolute;
}

#bg-txt {
    width: 100%;
}

#fbk-img {
    width: 100%;
}

img.oruyanke {
    width: 10%;
}

img.oruyanke:hover {
    -webkit-filter: drop-shadow(3px 3px 0 yellow) drop-shadow(-3px -3px 0 yellow);
    filter: drop-shadow(3px 3px 0 yellow) drop-shadow(-3px -3px 0 yellow);
}

.msg-container {
    display: none;
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
}

.msg-container[data-show] {
    display: block;
}

#edit-controls {
    position: fixed;
    top: 0;
    padding: 5px;
    display: none;
}
